*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 62.5% = 10px / Going off a base 16px without 62.5% */
/*  */

body {
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/images/bg-pattern-top.svg),
    url(/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 48vw bottom 40vh, left 45vw top 44vh;
}

.container {
  text-align: center;
}

.wrapper {
  background-color: #fff;
  max-width: 25.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
}

.content img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border: 5px solid #fff;
  margin-top: -52px;
}

.content h2 {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  margin-bottom: 0.89rem;
}

.content h2 span {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.content p {
  color: hsl(227, 10%, 46%);
  font-size: 13px;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid hsla(227, 10%, 46%, 0.3);
  padding: 30px 50px;
  margin-top: 1.88rem;
}

.footer p.num {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  margin-bottom: 0.35rem;
}
